
$--color-success: green;
$--color-warning: #faad14;
$--color-error: #ff4d4f;




$--color-white: #FFFFFF !default;



$--color-primary-light-1: mix($--color-white, $--color-success, 20%) !default; /* 53a8ff */

